@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #000;
    --secondary-color: #fff;

    --color-black: #000;
    --color-white: #fff;
    --color-floss: #feeceb;
    /* --color-floss: #ddc4a4; */
    --color-mocha: #130e09;
    --color-gray: #a7a7a7;
    --color-vivid: #d63637;
}

/* html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @media (max-width: 550px) {
    font-size: 10px;
    
  }

  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 10);
  }
} */

@font-face {
  font-family: "BebasNeue Regular";
  src: url("./assets/fonts/BebasNeue-Regular.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Regular";
  src: url("./assets/fonts/Archivo-Regular.woff") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Medium";
  src: url("./assets/fonts/Archivo-Medium.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Archivo Regular", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}